:root {
    --ampx-font-family: Verdana,Helvetica Neue,sans-serif;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.3);
    }

    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/*-----------------------*/
/* General 
/*-----------------------*/
input:focus {
    outline: none;
}

body {
    margin: 0;
}

html,
body {
    height: 100%;
}

.ampx-frame {
    border-radius: 1rem;
    border: .063rem solid #D6DFF8;
}

.ampx-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-family: var(--ampx-font-family);
    text-transform: capitalize;
}

.ampx-button_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: visible;
    transition: transform .15s ease, opacity .1s ease;
}

.ampx-button_icon {
    margin-inline-end: 8px;
    display: flex;
    align-items: center;
}

.ampx-button_icon svg {
    height: 16px;
    width: 16px;
}

.ampx-button_text {
    white-space: nowrap;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    opacity: 1;
}

.ampx-button__primary {
    background-color: #007BFF;
    color: #ffffff;
}

.ampx-button__primary:hover {
    background-color: #3590e4;
}

.ampx-button__secondary {
    border: 2px solid #81BAEE;
    background-color: #fff;
    color: #0374dd;
    padding-top: 8px;
    padding-bottom: 8px;
}

.ampx-button__secondary:hover {
    border: 2px solid #0374DD;
}

.ampx-button__accent {
    background-color: #FF4B5C;
    color: white;
}

.ampx-button__accent:hover {
    background-color: #d32f2f;
}

.main-containe {
    height: 100%;
}

/*-----------------------*/
/* Image section 
/*-----------------------*/
.b-image-wrapper {
    width: 100%;
    margin: 0 auto;
    font-family: var(--ampx-font-family);
    display: flex;
    padding: 0 1.5rem;
    gap: 1.5rem;
    box-sizing: border-box;
}

.b-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 104px;

}

.b-image-container img {
    max-width: 104px;
    max-height: 104px;
    height: auto;
    object-fit: contain;
    display: block;
}

.b-image-actions_container {
    display: flex;
    gap: 10px;
}


.b-image-container:has(img) .b-image-property_label,
.b-image-container:has(video) .b-image-property_label,
.b-image-container:has(figure) .b-image-property_label {
    display: none;
}

.b-image-left {
    display: flex;
    align-items: center;
}

.b-image-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 104px);
}

.b-image-properties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 12px 0;
}

.b-image-property_group {
    margin-bottom: 6px;
}

.b-image-property_value {
    color: #597684;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 16px);
}

.b-image-property_label {
    font-size: 13px;
    text-transform: capitalize;
}

.b-image-property_value + .b-image-property_value {
    font-size: 13px;
    margin-top: 8px;
}

.b-format_selector .b-image-property_value {
    display: flex;
    gap: 4px;
    align-items: center;
}

.b-format_selector input[type="radio"] {
    cursor: pointer;
    margin: 0;
}

.b-pagination {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}

.b-pagination_link {
    border: none;
    background-color: transparent;
    padding: 0 5px;
    transition: color .3s;
    color: #597684;
    font-weight: bold;
}

.b-pagination_link svg {
    display: block;
}

.b-pagination_info {
    color: #002c42;
    padding: 0 5px;
}

.b-pagination_link:hover:not([disabled]) {
    color: #3590e4;
}

.b-pagination_link[disabled] {
    color: #b2c0c6;
}

.b-form_section {
    margin-bottom: 24px;
}

.b-form-group {
    padding-top: 24px;
}

.b-form-label {
    color: #002c42;
    font-size: 14px;
    display: block;
    margin-bottom: 16px;
    text-transform: capitalize;
}

.b-form-input {
    font-size: 14px;
    line-height: 24px;
    padding: 6px 12px;
    width: 100%;
    color: #002c42;
    border: .0625rem solid #B4C5FC;
    box-sizing: border-box;
    border-radius: .5rem;
}

.b-form-input_file {
    position: relative;
    font-family: var(--ampx-font-family);
}

.b-form-input_file::file-selector-button {
    width: 136px;
    color: transparent;
}

.b-form-input_file::before {
    position: absolute;
    pointer-events: none;
    top: 8px;
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

.b-form-input_file::after {
    font-family: var(--ampx-font-family);
    position: absolute;
    pointer-events: none;
    top: 9px;
    left: 40px;
    color: #0374dd;
    content: "Choose File";
}
  
.b-form-input_file::file-selector-button {
    border-radius: 5px;
    padding: 0 16px;
    height: 36px;
    cursor: pointer;
    margin-right: 16px;
    transition: background-color 200ms;
    border: 2px solid #81BAEE;
    background-color: #ffffff;
  }
  
.b-form-input_file::file-selector-button:hover,
.b-form-input_file::file-selector-button:active {
    border-color: #0374DD;;
}
  

.b-form-input:focus {
    border-color: #0374DD;
}

.popup-action_buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

/*-----------------------*/
/* Select image dialog 
/*-----------------------*/
.popup {
    display: none;
    position: fixed;
    z-index: 60;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: #fff;
    font-family: var(--ampx-font-family);
    color: #002c42;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6dff8;
    padding: 16px;
}

.popup-title {
    color: #002c42;
    font-size: 14px;
    overflow: hidden;
    letter-spacing: -.005em;
}

.popup-navigation {
    position: relative;
    height: 60px;
    flex: 1 1 auto;
}

.popup-body {
    height: 100%;
    padding: 0 16px;
}

.popup-content {
    display: flex;
    height: 100%;
}

.popup-sidebar {
    width: 250px;
    flex-shrink: 0;
    height: 100%;
}

.popup-main {
    flex-grow: 1;
    background: #ecf1fc;
}

.popup-main_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    background-color: #ffffff;
}

.images-grid {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 12px;
    overflow-y: auto;
    max-height: 624px;
}

.popup-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 61;
    background-color: rgba(255, 255, 255, 0.5);
}

.serach-no-result {
    font-size: 14px;
}

.image-item {
    width: calc(25% - 10px);
    margin: 4px;
    padding: 0;
    position: relative;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 44, 66, .2), 0 2px 2px 0 rgba(0, 44, 66, .1), 0 3px 1px -2px rgba(0, 44, 66, .1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 calc(25% - 10px);
    flex-grow: 0;
    cursor: pointer;
}

.image-item_hover {
    position: absolute;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
}

.image-item_hover:hover {
    background: rgba(0, 44, 66, .7);
}

.image-item_hover:hover .image-item_hover_icon {
    opacity: 1;
}

.image-item_hover_icon {
    margin: 3px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    z-index: 5;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.87);
    opacity: 0;
    transition: opacity .3s;
}

.image-item_hover_icon svg {
    fill: transparent;
    display: block;
}

.image-item_hover_icon .circle {
    transition: all .3s;
}

.image-item_hover_icon:hover .circle {
    fill: #0374dd !important;
    stroke: #0374dd;
}

.image-name {
    margin: 8px 8px 0;
    color: #002c42;
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 16px);
    font-size: 12px;
}

.image-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.image-option {
    margin: 8px;
    width: calc(100% - 16px);
    max-height: 150px;
}

.sidebar-group {
    margin-bottom: 12px;
}

.sidebar-group_title {
    margin-bottom: 6px;
    font-size: 13px;
    color: #597684;
}

.folder-list{
    margin: 0;
    padding: 0;
    font-size: 11px;
    color: #597684;
}

.folder {
    list-style: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 16px);
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 0;
}

.parent-folder ~ .folder {
    margin-left: 16px;
}

.folder:hover {
  cursor: pointer;
  color: #002c42;
}

.folder svg {
    flex-shrink: 0;
    pointer-events: none;
    width: 20px;
    height: 20px;
}

.folder-structure {
    display: block;
    height: 100%;
    overflow-y: auto;
}

.tab-navigation {
    margin-top: 21px;
    margin-bottom: 20px;
    margin-right: 14px;
    border-bottom: 2px solid #81BAEE;
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.b-tab-button {
    background-color: #ecf1fc;
    border: none;
    color: #002c42;
    font-family: verdana;
    font-size: 12px;
    padding: 0 8px;
    height: 26px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.b-tab-button.active {
    background-color: #81BAEE;
    color: #ffffff;
}

.b-search-box {
    height: 30px;
    border-radius: 6px;
    background-color: #f8f9fe;
    border: 1px solid #b4c5f2;
    transition: all .3s;
    display: flex;
    align-items: center;
    margin: 16px 16px 16px 0;
}

.b-search-input {
    color: #002c42;
    padding: 0 10px;
    border: none;
    line-height: 26px;
    height: 30px;
    display: block;
    background-color: transparent;
    flex-grow: 1;
}

.b-search-button {
    padding: 0 8px;
    height: 30px;
}

.b-search-button,
.b-search-button:hover {
    color: #597684;
    border: none;
    background-color: transparent;
}

.b-search-button:hover {
    opacity: 0.6;
}

.b-search-button svg {
    fill: currentColor;
    width: 18px;
}

.b-search-input:focus {
    outline: none;
}

.am-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 62;
}

.am-spinner__bounce {
    background-color:#597684;
    width:8px;
    height:8px;
    margin: 1px;
    border-radius:100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.am-spinner__bounce--1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.am-spinner__bounce--2{
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
